body {
    font-family:Roboto, sans-serif;
    display: grid;
   grid-template-areas: 'header header header header header header'
                        '#Billede #Opskrift #Opskrift #Opskrift #Fremgangsmåde #Fremgangsmåde'
                        'menu #Tilberedningstid #Tilberedningstid #Tilberedningstid #Tilberedningstid #Tilberedningstid';
    gap: 50px    ;
    padding: 50px;
text-align: center;}
   
body {
    background-color: cadetblue;
}

img {
    height: 500px;
    width: 500px;
}

