body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 50px    ;
    padding: 50px;
justify-content: first baseline;
}

body {
    background-color: cadetblue;
}

img {
    height: 500px;
    width: 500px;
}

